body, html {
    background-color: #27292D;
    height: 100vh;
    padding: 20px 10px ;
}

.container {
    width: 75%;;
    height:75%;
    background-color: #1F2024;
    margin: auto;
    border-radius: 30px;
    position: relative;
}