body, html {
    background-color: #27292D;
    height: 100vh;
    margin: 0;
}

.container {
    font-family: sans-serif;
    width: 900px;
    height: 520px;
    background-color: #1F2024;
    margin: auto;
    top: 10%;
    padding-top: 2%;
    border-radius: 15px;
    border: 1px solid;
    border-color: #43444b;
    position: relative;
    box-sizing: border-box; 
}

/* Styling for the header of the body */

#sub-header{
    background-color: #1F2024;
    height: 55px;
    width: 800px;
    margin: auto;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr 1fr;;
    color: #C0372E;
    box-sizing: border-box;
    position: relative;
    border-bottom: 2px solid;
    border-color: #43444b;
    box-sizing: border-box;
}

#right-text{
    margin: 0;
    display: inline;
    font-size: 15px;
    padding-top: 10px;
}

#right-text li {
    display: inline;
    padding-right: 15px;
}

#sub-header p{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

#right-text li:last-child {
    color: white;
}

/* Styling for the main body */