html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    background: url(./img/background.jpg);
    background-size: cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;

}
.login-area {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: relative;
    

}