
body {
    background: url(./img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
}

.container {
    width: 360px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: center;
    top: 150px;
    margin:auto;
    position: relative;

}

.login-area {
    position: relative;

}