
body {
    background: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

.container {
    width: 360px;
    height: 420px;
    background: rgba(216, 190, 190, 0.6);
    color: #fff;
    position: center;
    top: 150px ;
    border-radius: 15px;
    box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.8);
    margin:auto;
    position: relative;    
}

.login-area {   
    margin: 0, auto; 
    padding: 45px;
    max-width: 360px;
    text-align: center;
    font-family: sans-serif;
}

.login-area input{
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    margin-bottom: 40px;
    border: 0;
    outline: 1;
    outline-color: #c5c5c5;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-area button{
    outline: 0;
    background: #a17e09;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.login-area p{
    padding-left: 0;
    margin-top: 15px;
    color:#616060;
    font-size: 14px;
    text-align: left;
}

.login-area button:hover{
    background: #c49808;
}
