body {
    margin:0;
    padding:0;
    background: url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login-area {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 30%;
    left: 30%;
    position: absolute;
    

}